/**
 *
 * Hey. My name's Andrew Ho.
 * I'm a software engineer who's passionate about beautifully designed interfaces
 * and micro-interactions.
 *
 * How about we demonstrate by doing some live coding... right here in the browser!
 */

/**
 * Let's begin. We'll start off by animating... well, everything.
 */

* {
  -webkit-transition: all 1s;
}

/**
 * Welp, that didn't do too much.  For now...
 *
 * Let's add a background.
 */

html {
  background: rgb(44, 50, 60);
}

/***
 * Let's make it a little easier to read.
 */

pre, a {
  color: rgb(172, 178, 190);
}

/**
 * That's better. Sorry about your eyes.
 *
 * Working in this big empty space is tough.
 *
 * I'm going to make a nice area for us to work in.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 90%;
  width: 90%;
  margin: auto;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
}

/**
 * Okay. We're going somewhere.  Let's continue by filling up the screen.
 * We're going to get ready to do some work!
 */

/**
 * This is good, but all the text is white!
 * Let's make it even more readable.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to get a little perspective.
 */

body {
  -webkit-perspective: 1000px;
}

/**
 * So, let's talk projects. That's why you're here, right?
 * I can't imagine you'd come just to see the pretty colors.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
